<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Black</key>
	<dict>
		<key>Red</key>
		<integer>0</integer>
		<key>Green</key>
		<integer>0</integer>
		<key>Blue</key>
		<integer>0</integer>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>White</key>
	<dict>
		<key>Red</key>
		<integer>1</integer>
		<key>Green</key>
		<integer>1</integer>
		<key>Blue</key>
		<integer>1</integer>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>B3</key>
	<dict>
		<key>Red</key>
		<real>0.9399999999999999</real>
		<key>Green</key>
		<real>0.93</real>
		<key>Blue</key>
		<real>0.88</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>B4</key>
	<dict>
		<key>Red</key>
		<string>.86</string>
		<key>Green</key>
		<string>.85</string>
		<key>Blue</key>
		<string>.83</string>
		<key>Alpha</key>
		<string>1</string>
	</dict>
	<key>B5</key>
	<dict>
		<key>Red</key>
		<real>0.7</real>
		<key>Green</key>
		<real>0.6899999999999999</real>
		<key>Blue</key>
		<real>0.66</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>B6</key>
	<dict>
		<key>Red</key>
		<real>0.44</real>
		<key>Green</key>
		<real>0.43</real>
		<key>Blue</key>
		<real>0.41</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>P1</key>
	<dict>
		<key>Red</key>
		<real>0.83</real>
		<key>Green</key>
		<real>0.07000000000000001</real>
		<key>Blue</key>
		<real>0.27</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>P2</key>
	<dict>
		<key>Red</key>
		<real>0.35</real>
		<key>Green</key>
		<real>0.42</real>
		<key>Blue</key>
		<real>0.55</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>S1</key>
	<dict>
		<key>Red</key>
		<real>0.91</real>
		<key>Green</key>
		<real>0.39</real>
		<key>Blue</key>
		<real>0.53</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>S2</key>
	<dict>
		<key>Red</key>
		<real>0.98</real>
		<key>Green</key>
		<real>0.75</real>
		<key>Blue</key>
		<real>0.34</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>S3</key>
	<dict>
		<key>Red</key>
		<real>0.59</real>
		<key>Green</key>
		<real>0.8</real>
		<key>Blue</key>
		<real>0.36</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>S5</key>
	<dict>
		<key>Red</key>
		<real>0.13</real>
		<key>Green</key>
		<real>0.66</real>
		<key>Blue</key>
		<real>0.85</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>S6</key>
	<dict>
		<key>Red</key>
		<real>0.6</real>
		<key>Green</key>
		<real>0.38</real>
		<key>Blue</key>
		<real>0.82</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>U4</key>
	<dict>
		<key>Red</key>
		<real>0.46</real>
		<key>Green</key>
		<real>0.62</real>
		<key>Blue</key>
		<real>0.67</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>AIARed</key>
	<dict>
		<key>Red</key>
		<real>0.83</real>
		<key>Green</key>
		<real>0.07000000000000001</real>
		<key>Blue</key>
		<real>0.27</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>Grey</key>
	<dict>
		<key>Red</key>
		<real>0.82</real>
		<key>Green</key>
		<real>0.83</real>
		<key>Blue</key>
		<real>0.83</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>Citrus</key>
	<dict>
		<key>Red</key>
		<real>0.97</real>
		<key>Green</key>
		<real>0.6</real>
		<key>Blue</key>
		<real>0.13</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>Citrus80</key>
	<dict>
		<key>Red</key>
		<real>0.97</real>
		<key>Green</key>
		<real>0.6</real>
		<key>Blue</key>
		<real>0.13</real>
		<key>Alpha</key>
		<real>0.8</real>
	</dict>
	<key>Citrus60</key>
	<dict>
		<key>Red</key>
		<real>0.97</real>
		<key>Green</key>
		<real>0.6</real>
		<key>Blue</key>
		<real>0.13</real>
		<key>Alpha</key>
		<real>0.6</real>
	</dict>
	<key>Citrus40</key>
	<dict>
		<key>Red</key>
		<real>0.97</real>
		<key>Green</key>
		<real>0.6</real>
		<key>Blue</key>
		<real>0.13</real>
		<key>Alpha</key>
		<real>0.4</real>
	</dict>
	<key>Citrus20</key>
	<dict>
		<key>Red</key>
		<real>0.97</real>
		<key>Green</key>
		<real>0.6</real>
		<key>Blue</key>
		<real>0.13</real>
		<key>Alpha</key>
		<real>0.2</real>
	</dict>
	<key>Lime</key>
	<dict>
		<key>Red</key>
		<real>0.75</real>
		<key>Green</key>
		<real>0.85</real>
		<key>Blue</key>
		<real>0.18</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>Lime80</key>
	<dict>
		<key>Red</key>
		<real>0.75</real>
		<key>Green</key>
		<real>0.85</real>
		<key>Blue</key>
		<real>0.18</real>
		<key>Alpha</key>
		<real>0.8</real>
	</dict>
	<key>Lime60</key>
	<dict>
		<key>Red</key>
		<real>0.75</real>
		<key>Green</key>
		<real>0.85</real>
		<key>Blue</key>
		<real>0.18</real>
		<key>Alpha</key>
		<real>0.6</real>
	</dict>
	<key>Lime40</key>
	<dict>
		<key>Red</key>
		<real>0.75</real>
		<key>Green</key>
		<real>0.85</real>
		<key>Blue</key>
		<real>0.18</real>
		<key>Alpha</key>
		<real>0.4</real>
	</dict>
	<key>Lime20</key>
	<dict>
		<key>Red</key>
		<real>0.75</real>
		<key>Green</key>
		<real>0.85</real>
		<key>Blue</key>
		<real>0.18</real>
		<key>Alpha</key>
		<real>0.4</real>
	</dict>
	<key>Plum</key>
	<dict>
		<key>Red</key>
		<real>0.61</real>
		<key>Green</key>
		<integer>0</integer>
		<key>Blue</key>
		<real>0.35</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>Plum80</key>
	<dict>
		<key>Red</key>
		<real>0.61</real>
		<key>Green</key>
		<integer>0</integer>
		<key>Blue</key>
		<real>0.35</real>
		<key>Alpha</key>
		<real>0.8</real>
	</dict>
	<key>Plum60</key>
	<dict>
		<key>Red</key>
		<real>0.61</real>
		<key>Green</key>
		<integer>0</integer>
		<key>Blue</key>
		<real>0.35</real>
		<key>Alpha</key>
		<real>0.6</real>
	</dict>
	<key>Plum40</key>
	<dict>
		<key>Red</key>
		<real>0.61</real>
		<key>Green</key>
		<integer>0</integer>
		<key>Blue</key>
		<real>0.35</real>
		<key>Alpha</key>
		<real>0.4</real>
	</dict>
	<key>Plum20</key>
	<dict>
		<key>Red</key>
		<real>0.61</real>
		<key>Green</key>
		<integer>0</integer>
		<key>Blue</key>
		<real>0.35</real>
		<key>Alpha</key>
		<real>0.2</real>
	</dict>
	<key>Seablue</key>
	<dict>
		<key>Red</key>
		<integer>0</integer>
		<key>Green</key>
		<real>0.45</real>
		<key>Blue</key>
		<real>0.68</real>
		<key>Alpha</key>
		<integer>1</integer>
	</dict>
	<key>Seablue80</key>
	<dict>
		<key>Red</key>
		<integer>0</integer>
		<key>Green</key>
		<real>0.45</real>
		<key>Blue</key>
		<real>0.68</real>
		<key>Alpha</key>
		<real>0.8</real>
	</dict>
	<key>Seablue60</key>
	<dict>
		<key>Red</key>
		<integer>0</integer>
		<key>Green</key>
		<real>0.45</real>
		<key>Blue</key>
		<real>0.68</real>
		<key>Alpha</key>
		<real>0.6</real>
	</dict>
	<key>Seablue40</key>
	<dict>
		<key>Red</key>
		<integer>0</integer>
		<key>Green</key>
		<real>0.45</real>
		<key>Blue</key>
		<real>0.68</real>
		<key>Alpha</key>
		<real>0.4</real>
	</dict>
	<key>Seablue20</key>
	<dict>
		<key>Red</key>
		<integer>0</integer>
		<key>Green</key>
		<real>0.45</real>
		<key>Blue</key>
		<real>0.68</real>
		<key>Alpha</key>
		<real>0.2</real>
	</dict>
</dict>
</plist>
