<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apptBtn</key>
	<dict>
		<key>New item</key>
		<string>&quot;AIAEverestCondensedMedium&quot;</string>
		<key>New item - 2</key>
		<integer>20</integer>
		<key>New item - 3</key>
		<string>&quot;White&quot;</string>
	</dict>
	<key>apptText</key>
	<dict>
		<key>New item</key>
		<string>&quot;ArialMT&quot;</string>
		<key>New item - 2</key>
		<integer>12</integer>
		<key>New item - 3</key>
		<string>&quot;B6&quot;</string>
	</dict>
	<key>recTitle</key>
	<dict>
		<key>New item</key>
		<string>&quot;AIAEverestCondensedMedium&quot;</string>
		<key>New item - 2</key>
		<integer>26</integer>
		<key>New item - 3</key>
		<string></string>
	</dict>
	<key>recBtn</key>
	<dict>
		<key>New item</key>
		<string>&quot;AIAEverestCondensedMedium&quot;</string>
		<key>New item - 2</key>
		<integer>20</integer>
		<key>New item - 3</key>
		<string>&quot;White&quot;</string>
	</dict>
	<key>recText</key>
	<dict>
		<key>New item</key>
		<string></string>
		<key>New item - 2</key>
		<string></string>
		<key>New item - 3</key>
		<string></string>
	</dict>
	<key>apprText</key>
	<dict>
		<key>New item</key>
		<string></string>
		<key>New item - 2</key>
		<string></string>
		<key>New item - 3</key>
		<string></string>
	</dict>
	<key>apprBtn</key>
	<dict>
		<key>New item</key>
		<string></string>
		<key>New item - 2</key>
		<string></string>
		<key>New item - 3</key>
		<string></string>
	</dict>
	<key>apprTitle</key>
	<dict>
		<key>New item</key>
		<string></string>
		<key>New item - 2</key>
		<string></string>
		<key>New item - 3</key>
		<string></string>
	</dict>
	<key>dayDateMonth</key>
	<dict>
		<key>New item</key>
		<string></string>
		<key>New item - 2</key>
		<string></string>
		<key>New item - 3</key>
		<string></string>
	</dict>
	<key>todayBtn</key>
	<dict>
		<key>New item</key>
		<string></string>
		<key>New item - 2</key>
		<string></string>
		<key>New item - 3</key>
		<string></string>
	</dict>
	<key>contactsBtn</key>
	<dict>
		<key>New item</key>
		<string></string>
		<key>New item - 2</key>
		<string></string>
		<key>New item - 3</key>
		<string></string>
	</dict>
	<key>moduleTitle</key>
	<dict>
		<key>New item</key>
		<string></string>
		<key>New item - 2</key>
		<string></string>
		<key>New item - 3</key>
		<string>&quot;White&quot;</string>
	</dict>
	<key>subTitle</key>
	<dict>
		<key>New item</key>
		<string>&quot;AIAEverestCondensedMedium&quot;</string>
		<key>New item - 2</key>
		<integer>26</integer>
		<key>New item - 3</key>
		<string></string>
	</dict>
	<key>displayDate</key>
	<dict>
		<key>New item</key>
		<string>&quot;ArialMT&quot;</string>
		<key>New item - 2</key>
		<integer>60</integer>
		<key>New item - 3</key>
		<string></string>
	</dict>
	<key>displayDay</key>
	<dict>
		<key>New item</key>
		<string>&quot;ArialMT&quot;</string>
		<key>New item - 2</key>
		<integer>12</integer>
		<key>New item - 3</key>
		<string></string>
	</dict>
	<key>cdarDate</key>
	<dict>
		<key>New item</key>
		<string>&quot;AIAEverestCondensedMedium&quot;</string>
		<key>New item - 2</key>
		<integer>16</integer>
		<key>New item - 3</key>
		<string>&quot;P2&quot;</string>
	</dict>
	<key>cdarTitle</key>
	<dict>
		<key>New item</key>
		<string>&quot;AIAEverestCondensedMedium&quot;</string>
		<key>New item - 2</key>
		<integer>26</integer>
		<key>New item - 3</key>
		<string></string>
	</dict>
	<key>monthYearWeek</key>
	<dict>
		<key>New item</key>
		<string>&quot;ArialMT&quot;</string>
		<key>New item - 2</key>
		<integer>16</integer>
		<key>New item - 3</key>
		<string></string>
	</dict>
</dict>
</plist>
