<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityBox</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>40</integer>
	</dict>
	<key>activityNotesBox</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>50</integer>
	</dict>
	<key>activityTypeIcon</key>
	<dict>
		<key>Width</key>
		<real>5.7</real>
		<key>Height</key>
		<real>3.7</real>
	</dict>
	<key>apprBox</key>
	<dict>
		<key>Width</key>
		<integer>68</integer>
		<key>Height</key>
		<integer>60</integer>
	</dict>
	<key>apptAddBar</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>6</integer>
	</dict>
	<key>apptBox</key>
	<dict>
		<key>Width</key>
		<integer>35</integer>
		<key>Height</key>
		<integer>50</integer>
	</dict>
	<key>apptCont</key>
	<dict>
		<key>Width</key>
		<real>18.8</real>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>apptMgV</key>
	<dict>
		<key>Width</key>
		<real>2.4</real>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>apptPromptBtn</key>
	<dict>
		<key>Width</key>
		<real>6.8</real>
		<key>Height</key>
		<real>3.4</real>
	</dict>
	<key>apptReferral</key>
	<dict>
		<key>Width</key>
		<real>14.4</real>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>cdarBox</key>
	<dict>
		<key>Width</key>
		<integer>35</integer>
		<key>Height</key>
		<integer>25</integer>
	</dict>
	<key>componentAppt</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<real>18.2</real>
	</dict>
	<key>componentBtn</key>
	<dict>
		<key>Width</key>
		<real>23.4</real>
		<key>Height</key>
		<real>5.2</real>
	</dict>
	<key>componentCont</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<real>6.5</real>
	</dict>
	<key>componentMenuBar</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>6</integer>
	</dict>
	<key>componentMgV</key>
	<dict>
		<key>Width</key>
		<real>2.4</real>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>contBtn</key>
	<dict>
		<key>Width</key>
		<real>18.2</real>
		<key>Height</key>
		<real>5.2</real>
	</dict>
	<key>contDetailsHm</key>
	<dict>
		<key>Width</key>
		<integer>63</integer>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>contNameHm</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>5</integer>
	</dict>
	<key>contStatus</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>13</integer>
	</dict>
	<key>contTitleHm</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<real>5.5</real>
	</dict>
	<key>dailySumBtn</key>
	<dict>
		<key>Width</key>
		<real>4.4</real>
		<key>Height</key>
		<real>5.2</real>
	</dict>
	<key>dateGap</key>
	<dict>
		<key>Width</key>
		<integer>4</integer>
		<key>Height</key>
		<integer>6</integer>
	</dict>
	<key>exportExcelBtn</key>
	<dict>
		<key>Width</key>
		<integer>17</integer>
		<key>Height</key>
		<integer>3</integer>
	</dict>
	<key>formApprDetails</key>
	<dict>
		<key>Width</key>
		<integer>48</integer>
		<key>Height</key>
		<integer>95</integer>
	</dict>
	<key>formApprList</key>
	<dict>
		<key>Width</key>
		<integer>19</integer>
		<key>Height</key>
		<integer>95</integer>
	</dict>
	<key>formApprListCont</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>5</integer>
	</dict>
	<key>formApprListDate</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<real>5.5</real>
	</dict>
	<key>formDetails</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>5</integer>
	</dict>
	<key>formMgV</key>
	<dict>
		<key>Width</key>
		<integer>2</integer>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>formNewAppt</key>
	<dict>
		<key>Width</key>
		<integer>64</integer>
		<key>Height</key>
		<integer>95</integer>
	</dict>
	<key>formNewApptNotes</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>11</integer>
	</dict>
	<key>groupNameCBox</key>
	<dict>
		<key>Width</key>
		<integer>17</integer>
		<key>Height</key>
		<integer>3</integer>
	</dict>
	<key>highlightMemberBtn</key>
	<dict>
		<key>Width</key>
		<integer>13</integer>
		<key>Height</key>
		<integer>3</integer>
	</dict>
	<key>lastAppt</key>
	<dict>
		<key>Width</key>
		<integer>15</integer>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>lastCont</key>
	<dict>
		<key>Width</key>
		<integer>15</integer>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>listCont</key>
	<dict>
		<key>Width</key>
		<integer>44</integer>
		<key>Height</key>
		<integer>95</integer>
	</dict>
	<key>listContHm</key>
	<dict>
		<key>Width</key>
		<integer>19</integer>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>listContInitials</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>9</integer>
	</dict>
	<key>listDetails</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>5</integer>
	</dict>
	<key>mgAppt</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<real>2.4</real>
	</dict>
	<key>mgBtm</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>1</integer>
	</dict>
	<key>mgH</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<real>0.08</real>
	</dict>
	<key>mgV</key>
	<dict>
		<key>Width</key>
		<integer>1</integer>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>nextAppt</key>
	<dict>
		<key>Width</key>
		<integer>15</integer>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>recBox</key>
	<dict>
		<key>Width</key>
		<integer>68</integer>
		<key>Height</key>
		<integer>15</integer>
	</dict>
	<key>recMgTimeBox</key>
	<dict>
		<key>Width</key>
		<real>4.3</real>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>recMgV</key>
	<dict>
		<key>Width</key>
		<real>2.4</real>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>reportBtnBar</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>6</integer>
	</dict>
	<key>reportComponentBtn</key>
	<dict>
		<key>Width</key>
		<integer>24</integer>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>reportIcon</key>
	<dict>
		<key>2</key>
		<integer>0</integer>
		<key>2.6</key>
		<integer>0</integer>
	</dict>
	<key>reportMgV</key>
	<dict>
		<key>Width</key>
		<integer>1</integer>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>reportSubTabsBar</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>5</integer>
	</dict>
	<key>reportTabsBar</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>5</integer>
	</dict>
	<key>searchBar</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>5</integer>
	</dict>
	<key>smallIcon</key>
	<dict>
		<key>Width</key>
		<integer>2</integer>
		<key>Height</key>
		<real>2.6</real>
	</dict>
	<key>sortbyBtn</key>
	<dict>
		<key>Width</key>
		<real>6.8</real>
		<key>Height</key>
		<real>3.4</real>
	</dict>
	<key>subTitleBar</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>8</integer>
	</dict>
	<key>subTitleBtmGap</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<real>0.08</real>
	</dict>
	<key>subTitleMgSide</key>
	<dict>
		<key>Width</key>
		<real>2.4</real>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>tableFirstRow</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>4</integer>
	</dict>
	<key>tableLeftColumn</key>
	<dict>
		<key>Width</key>
		<integer>12</integer>
		<key>Height</key>
		<integer>0</integer>
	</dict>
	<key>tableRow</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<real>4.2</real>
	</dict>
	<key>tableSecondRow</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>5</integer>
	</dict>
	<key>tableTopRow</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>9</integer>
	</dict>
	<key>timeBox</key>
	<dict>
		<key>Width</key>
		<real>4.5</real>
		<key>Height</key>
		<integer>3</integer>
	</dict>
	<key>title</key>
	<dict>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>7</integer>
	</dict>
	<key>todayBtn</key>
	<dict>
		<key>Width</key>
		<real>6.8</real>
		<key>Height</key>
		<real>3.4</real>
	</dict>
</dict>
</plist>
